@media screen and (max-width: 480px) {

  .carousel-item {
    height: 40vh;
  }
  /* .navbar-brand img{
    width: 55px;
    height: auto;
  } */
  .navbar-brand img{
    width: 99px;
    height: auto;
  }






}